global
    log /dev/log local0
    log /dev/log local1 notice
    chroot /var/lib/haproxy
    stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user haproxy
    group haproxy
    daemon

defaults
    log global
    option tcplog
    option dontlognull
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  100000ms

# Frontend configuration
# WordPress Frontend
frontend wordpress_front
    bind *:8080
    mode http
    default_backend wordpress_backend

# Nextcloud Frontend
frontend nextcloud_front
    bind *:80
    mode http
    default_backend nextcloud_backend

# Backend configuration for WordPress
backend wordpress_backend
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    server wordpress_private 10.2.10.38:8080 check

# Backend configuration for Nextcloud
backend nextcloud_backend
    mode http
    balance roundrobin
    option forwardfor
    http-request set-header X-Forwarded-Proto https if { ssl_fc }
    server nextcloud_private 10.2.10.247:80 check
